/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.card {
    width: 200px;
    height: 500px !important;
    --bs-card-spacer-y: none !important;
    --bs-card-title-spacer-y: none !important;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.accordion {
    width: 100%;
}

.accordion-body {
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    overflow-y: hidden; /* Oculta el desplazamiento vertical */
    white-space: nowrap; /* Evita que las tarjetas se envuelvan */
    padding: 1rem;
}

.accordion-button:not(.collapsed) {
    background-color: #ffc107; /* Cambia el color de fondo del botón desplegado a amarillo */
    color: #000; /* Cambia el color del texto del botón desplegado a negro */
}

.accordion-button {
    background-color: #343a40; /* Cambia el color de fondo del botón a gris oscuro */
    color: #fff; /* Cambia el color del texto del botón a blanco */
    border: none; /* Elimina el borde del botón */
}

.accordion-button:hover {
    background-color: #ffc107; /* Cambia el color de fondo del botón al pasar el mouse a amarillo */
    color: #000; /* Cambia el color del texto del botón al pasar el mouse a negro */
}

.accordion-button:focus {
    box-shadow: none; /* Elimina el sombreado del botón al enfocarlo */
}

.card-img-top {
    object-fit: cover;
}
